---
title: Member
layout: default
---
<a href="#" class="js-rs-nav-toggle rs-nav-toggle"><i></i></a>

<aside id="rs-aside" role="complementary" class="border js-fullheight">

    <h1 id="rs-logo"><a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/logo.png' | relative_url }}"></a></h1>
    <nav id="rs-main-menu" role="navigation">
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/news/' | relative_url }}">News</a></li>
            <li class="rs-active"><a href="{{ '/member/' | relative_url }}">Member</a></li>
            <li><a href="{{ '/study/' | relative_url }}">Study</a></li>
            <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
        </ul>
    </nav>

    <div class="rs-footer">
        <p><small>&copy; 2019 Tokai Universiry Otake laboratory.</span><span>Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></small></p>
        <ul>
            {% if site.author.twitter %}
            <li>
                <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="noopener"><i class="icon-twitter2"></i></a>
            </li>
            {% endif %}
            {% if site.author.facebook %}
            <li>
                <a href="https://www.facebook.com/{{ site.author.facebook }}" target="_blank" rel="noopener"><i class="icon-facebook2"></i></a>
            </li>
            {% endif %}
            {% if site.author.instagram %}
            <li>
                <a href="https://www.instagram.com/{{ site.author.instagram }}" target="_blank" rel="noopener"><i class="icon-instagram"></i></a>
            </li>
            {% endif %}
        </ul>
    </div>

</aside>

<div id="rs-main">
    <div class="rs-narrow-content">
        <h3 class="rs-heading animate-box" data-animate-effect="fadeInLeft">指導教員</h3>
        <div class="row row-bottom-padded-md">
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/otake.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>大竹 恒平(Otake Kohei)</h3>
                        <span>
                            <p>研究テーマ：データサイエンス,消費者行動,社会ネットワーク</p>
                        </span>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="rs-narrow-content">
        <h3 class="rs-heading animate-box" data-animate-effect="fadeInLeft">修士1年生</h3>
        <div class="row row-bottom-padded-md">
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/img-1.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>中里見 祐介(Nakasatomi Yusuke)</h3>
                        <span>
                            <p>研究テーマ：</p>
                        </span>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="rs-narrow-content">
        <h3 class="rs-heading animate-box" data-animate-effect="fadeInLeft">学部4年生</h3>
        <div class="row row-bottom-padded-md">
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/sawada.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>澤田真之介</h3>
                        <span>
                            <p>研究テーマ：顧客特性を加味したクーポン利用傾向の把握</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/watanabe.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>渡邉佑理</h3>
                        <span>
                            <p>研究テーマ：ブログサービスにおけるコンテンツ投稿者の定着要因の特定</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/shouzi.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>庄司泰輔</h3>
                        <span>
                            <p>研究テーマ：練習中の負傷率軽減を目的としたウォーミングアップメニューの提案</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/noguchi.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>野口隼輔</h3>
                        <span>
                            <p>研究テーマ：ヘアサロンチェーン店における顧客特性による顧客の来店予測</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/kasihara.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>柏原茉由子</h3>
                        <span>
                            <p>研究テーマ：季節やイベントに対する消費者の食材選択要因の分析</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/totuka.png" | relative_url }});'>
                    <div class="desc">
                        <h3>戸塚廉</h3>
                        <span>
                            <p>研究テーマ：市場変革に伴うホームセンターの顧客特性分析</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/andou.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>安藤耕太</h3>
                        <span>
                            <p>研究テーマ：バスケットボールにおける選手が心理状態によって受ける影響について</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/toriyama.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>鳥山 瑠音</h3>
                        <span>
                            <p>研究テーマ：ブランド・コミュニティにおける消費者行動の特定</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/takagi.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>高木章吾</h3>
                        <span>
                            <p>研究テーマ：オムニチャネルにおける顧客の離反要因の特定</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/ogura.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>小倉 夏</h3>
                        <span>
                            <p>研究テーマ：レビューデータを用いた宿泊施設の特徴抽出</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/member-02/kimura.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>木村綾太</h3>
                        <span>
                            <p>研究テーマ：ID-POSデータを用いた顧客の併買傾向の分析と顧客成長のためのマーケティング施策の提案</p>
                        </span>
                    </div>
                </a>
            </div>



        </div>

    </div>

    <div class="rs-narrow-content">
        <h3 class="rs-heading animate-box" data-animate-effect="fadeInLeft">学部3年生</h3>
        <div class="row row-bottom-padded-md">
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url("{{ "/assets/images/img-1.jpg" | relative_url }}");'>
                    <div class="desc">
                        <h3>なまえ</h3>
                        <span>
                            <p>研究テーマ：</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/img-2.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>なまえ</h3>
                        <span>
                            <p>研究テーマ：</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/img-3.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>なまえ</h3>
                        <span>
                            <p>研究テーマ：</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/img-4.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>なまえ</h3>
                        <span>
                            <p>研究テーマ：</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/img-5.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>なまえ</h3>
                        <span>
                            <p>研究テーマ：</p>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                <a href="#" class="work image-popup" style='background-image: url({{ "/assets/images/img-6.jpg" | relative_url }});'>
                    <div class="desc">
                        <h3>なまえ</h3>
                        <span>
                            <p>研究テーマ：</p>
                        </span>
                    </div>
                </a>
            </div>


        </div>

    </div>

</div>
